*{
  background-color: rgb(187, 208, 150);
}
.square{
  width: 100px;
  height: 100px;
  padding: 6px;
  margin: 1px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.board-row{
  display: flex;
  
}
.container{
  display: grid;
  place-items: center;
  margin-top: 80px;
  max-height: 1440px;
}
.status{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
}