*{
  background-color: rgb(187, 208, 150);
}
.square{
  width: 100px;
  height: 100px;
  padding: 6px;
  margin: 1px;
  background-color: whitesmoke;
}
.container{
  display: grid;
  place-items: center;
  margin-top: 250px;
}